nav {
  background-color: #4056A1;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  height: 120px;
  z-index: 1;
  width: 100%;
}

#write-button-div {
  float: right;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#nav-button {
  margin-top: -20px;
  height: 40px;
  border: 0;
  padding: 0;
}

#nav-button img {
  width: 40px;
  height: 40px;
  background-color: #4056A1;

}

nav span {
  font-size: 130%;
  float: left;
  margin: 1.5em;
  font-family: 'Bungee', sans-serif;
}
