.tweets-container {
  margin-top: 10px;
}

.id-tweet {
  margin-bottom: 5%;
  opacity: 0.4;
}

.id-tweet img {
  height: 40px;
  width: 40px;
}

.handle {
  float:right;
  visibility: hidden;
}

.tweet:hover .handle {
  visibility: visible;
}

.tweet {
  padding: 20px;
  margin-bottom: 50px;
}

.tweet:hover {
  box-shadow: 20px 20px 5px grey;
  cursor: pointer;
}

article.tweet {
  border: 3px solid black;
}

.likes {
  float: right;
  margin-top: 5px;
  font-size: .7em;
}

.likes i {
  padding: 3px;
}

.tweet-words {
  border-bottom: 3px solid black
}

.timestamp {
  font-size: .7em;
}

.name {
  color: #4056A1;
}