#id-tweet {
  margin-bottom: 5%;
  opacity: 0.4;
}

#handle {
  float:right;
}


.posted-tweet {
  padding: 20px;
  margin-bottom: 50px;
}

.posted-tweet:hover {
  box-shadow: 20px 20px 5px grey;
  cursor: pointer;
}

section.posted-tweet {
  border: 3px solid black;
}

#some-shit {
  float: right;
  margin-top: 9px;
  font-size: .7em;
}

#tweet {
  border-bottom: 3px solid black
}

#timestamp {
  font-size: .7em;
}